<div class="jumbotron mt-4">
  <h1 align="center">CALIDAD, SUSTENTABILIDAD Y SOSTENIBILIDAD.</h1>
  <br>
<!---->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/img/harina.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 align="center" class="card-title">CUIDADO DE LOS INGREDIENTES.</h5>
        <p align="justify" class="card-text">La calidad también significa cuidar de los ingredientes.</p>
        <p align="justify">Seleccionamos cuidadosamente a nuestros colaboradores para producir ingredientes de gran calidad que después cuidamos durante todo el período de cultivo,
          recepción y procesamiento para que se conserven sus características originales, com el aroma, la textura y el sabor.
          Con tantas pruebas, catas y normas que cumplir, siempre nos esforzamos para garantizar el mejor sabor posible.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/guanajuato.png" class="card-img-top" alt="...">
      <br>
      <br>
      <div class="card-body">
        <h5 align="center" class="card-title">CUIDADO DEL ENTORNO Y DE LAS COMUNIDADES.</h5>
        <p align="justify" class="card-text">En Mizquitl, creemos que para mantener la calidad debemos cuidar el entorno y las comununidades en las que producimos y operamos. Proteger la tierra y devolver lo que es suyo, ya sea en términos nutricionales
          del suelo, formación de los agricultores o apoyo a las comunidades locales con educación, es esencial para garantizar la sustentabilidad del entorno.</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
 <div class="card">
    <div class="container">
      <br>
      <p>Mizquitl tiene un enfoque en los siguientes Objetivos de Desarrollo Sostenible:
        <p class="card-text h6"><i class='bx bx-minus'> Salud y bienestar.</i></p>
        <p class="card-text h6"><i class='bx bx-minus'> Producción y Consumo sustentable.</i></p>
        <p class="card-text h6"><i class='bx bx-minus'> Vida de ecosistemas terrestres.</i></p>
      </p>
      <br>
    </div>
  </div>
  <br>
  
    <div class="card">
      <div class="row g-0">
        <div class="col">
          <img src="/img/sustentabilidad.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">SUSTENTABILIDAD</h5>
            <p class="card-text">La importancia ecológica del mesquite radica:</p>
            <p class="card-text h6"><i class='bx bx-minus'> Funge como planta fijadora de nitrógeno.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Enriquece el suelo.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Promueve el crecimiento de matorrales.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Retiene la humedad.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Previene la erosión del suelo.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Funciona como sombra y refugio para la fauna.</i></p>
            <p class="card-text h6"><i class='bx bx-minus'> Fuente de alimento.</i></p>
          </div>
        </div>
      </div>
    </div> 
<!---->  
</div>
 